* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gradient color class (VERY IMPORTANT CONCEPT) */

.gradient-text {
  background: linear-gradient(
    90deg,
    #ffdd55,
    #ff2fb3,
    #7a3dff
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}


#navigation {
  background-color: #1a0b2e;
  display: flex;
  justify-content: space-around;
  height: 92px;
  min-width: 100%;
}

.logo {
  padding: 30px 0;
  color: white;
}


#navigation .nav-item {
  margin: 36.5px 0;
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: white;
}

#navigation button {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  margin: 24px 0;
  font-size: 16px;
  font-weight: 600;
  color: white;

  border: none;
  border-radius: 999px;
  cursor: pointer;

  background: linear-gradient(
    90deg,
    #ffdd55,
    #ff2fb3,
    #7a3dff);

    box-shadow:
    0 8px 20px rgba(255, 47, 179, 0.4),
    0 0 12px rgba(122, 61, 255, 0.5);
}

#navigation button:hover {
  transform: translateY(-2px);
  box-shadow:
    0 12px 30px rgba(255, 47, 179, 0.6),
    0 0 18px rgba(122, 61, 255, 0.7);
}


button img {
  height: 20px;
  width: 20px;
  margin: 2px 0;
}

#banner .image-container {
  width: 100%;
 min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.img-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.img-2 {
  position: absolute;
  top: 101px;
  left: 600px;
  z-index: 2;
}

.img-3 {
  position: absolute;
  top: 178px;
  left:720px;
  z-index: 3;
  
}


#banner .new button{
  position:absolute;
  top:205px;
  left:908px; ;
  z-index:4;
  color: #1A0B2E;
  background-color: #00FF88;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 1000px;
  box-shadow: 0 3px 27px #00FF88;
}

#banner .text-container{
  position: absolute;
  z-index: 4;
  top: 600px;
  left: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner .text-container h2{
  font-size: 60px;
  font-weight: bolder;
  color: white;
  padding: 10px 0;
}

#banner .text-container p{
  font-size: 16px;
  font-weight: normal;
  color: white;
  padding: 20px 0;
}

#banner .text-container .btn{
  display: flex;
  gap: 8px;
  /* margin-bottom: 101px; */
}

#banner .text-container .btn .btn-1{
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  margin: 24px 0;
  font-size: 16px;
  font-weight: 600;
  color: white;

  border: none;
  border-radius: 1000px;
  cursor: pointer;

  background: linear-gradient(
    90deg,
    #ffdd55,
    #ff2fb3,
    #7a3dff);

    box-shadow:
    0 3px 20px rgba(255, 47, 179, 0.4),
    0 0 12px rgba(122, 61, 255, 0.5);
}

#banner .text-container .btn .btn-2{
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  margin: 24px 0;
  font-size: 16px;
  font-weight: 600;
  color: white;

  border: 2px solid #00FF88;
  border-radius: 1000px;
  cursor: pointer;

  background: none;
}

#About .about-text{
  background-color: #1A0B2E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color:white;
  /* margin-top: 50px; */

  width: 70%;
}






