* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gradient color class (VERY IMPORTANT CONCEPT) */

.gradient-text {
  background: linear-gradient(
    90deg,
    #ffdd55,
    #ff2fb3,
    #7a3dff
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}


#navigation {
  background-color: #1a0b2e;
  display: flex;
  justify-content: space-around;
  height: 92px;
  min-width: 100%;
}

.logo {
  padding: 30px 0;
  color: white;
}


#navigation .nav-item {
  margin: 36.5px 0;
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: white;
}

#navigation button {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  margin: 24px 0;
  font-size: 16px;
  font-weight: 600;
  color: white;

  border: none;
  border-radius: 999px;
  cursor: pointer;

  background: linear-gradient(
    90deg,
    #ffdd55,
    #ff2fb3,
    #7a3dff);

    box-shadow:
    0 8px 20px rgba(255, 47, 179, 0.4),
    0 0 12px rgba(122, 61, 255, 0.5);
}

#navigation button:hover {
  transform: translateY(-2px);
  box-shadow:
    0 12px 30px rgba(255, 47, 179, 0.6),
    0 0 18px rgba(122, 61, 255, 0.7);
}


button img {
  height: 20px;
  width: 20px;
  margin: 2px 0;
}

#banner .bg-image img {
  max-width: 100%;
  height: 760px;
  z-index: 1;
}

#banner .grad-image img {
  height: 350px;
  width: 350px;
  position: absolute;
}


